body {
	font-family: Baskerville
	font-color:black;
}

img {
	size: 1000px;
}
.wrapper{
	float: 40em;
}

#table1 {
	color: #efe334;
	border-style: solid;
	border-width: .5em;
	height: 3em; 
	width: 3em; 
}

#table2 {
	color: #cccad1;
	border-style: solid;
	border-width: .2em;
	height: 27em; 
	width: 17em; 
}

#box1 {
	background-color:#cccad1;
	height: 3em;
	width: 17em;
}

.insidetext{
	font-color:black;
}


#table3 {
	color: #cccad1;
	border-style: solid;
	border-width: .2em;
	height: 6em; 
	width: 3em; 
}
.box2 {
	height: 5px;
	width: 5px;
	margin: 0 auto;
}
.box3 {
	background-color: #4f5054;
	border-style: solid;
	border-width: .2em;
	height: 4em; 
	width: 3em; 
}

